<p class="waves-effect waves-light btn-small white center-align"><%= link_to "一覧に戻る", :expenses %></p>
<table>
  <tr>
    <th><%= form.label :name, "買ったもの" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :genre, "ジャンル" %></th>
    <td><%= form.text_field :genre %></td>
  </tr>
  <tr>
    <th><%= form.label :price, "金額" %></th>
    <td><%= form.text_field :price %></td>
  </tr>
</table>
